DEBUG=0
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=158.160.241.177,localhost,127.0.0.1,web,nginx

DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=lms_password_123
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

STRIPE_SECRET_KEY=sk_test_fake_key_for_homework_123456789
STRIPE_PUBLISHABLE_KEY=pk_test_fake_key_for_homework_123456789