[Unit]
Description=Gunicorn daemon for LMS Project
After=network.target

[Service]
User=lms
Group=www-data
WorkingDirectory=/home/lms/project
Environment="DJANGO_SETTINGS_MODULE=lms_project.settings"
ExecStart=/home/lms/project/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind 127.0.0.1:8000 \
    lms_project.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target